 <%= form_for @main_event do |f| %>
  <div>
    <%= f.label "title" %><br>
    <%= f.text_field "title" %>
  </div>
  <div>
    <%= f.label "description" %><br>
    <%= f.text_field "description" %>
  </div>
  <div>
    <%= f.label "date" %><br>
    <%= f.date_select :date, order: [:day, :month, :year], selected: Date.today %>
  <div>
    <%= f.label "start_time" %><br>
    <%= f.time_field "start_time" %>
  </div>
  <div>
    <%= f.label "end_time" %><br>
    <%= f.time_field "end_time" %>
  </div>
  <div>
    <%= f.label "Bride's Name" %><br>
    <%= f.text_field "bride_full_name" %>
  </div>
  <div>
    <%= f.label "Groom's Name" %><br>
    <%= f.text_field "groom_full_name" %>
  </div>
  
  <div><%= f.submit "Submit" %></div>
<% end %>
 
</div>