<div class="row top"></div>

<div class="row panel">
    <div class="large-9 large-offset-1 columns">
      <h1> <%= @main_event.title %> </h1> 
      <h3> <%= @main_event.description %> </h3>   
    </div> 
    
    <div class="large-2 columns">
    <%= button_to "Edit", edit_main_event_path(@main_event), class: "edit_button button", :method => "get" %>
      
    </div>
</div>

<div class="row">
  <div class="large-2 columns">
  <%= button_to "Add Event", new_main_event_sub_event_path(@main_event), class: "button sidebar", method:"get" %>
 
    <%= button_to "Guest List", main_event_guests_path(@main_event), class: "button sidebar", :method => "get" %>
 
    <%= button_to "RSVP's", main_event_rsvps_path(@main_event), class: "button sidebar", :method => "get" %>
  </div>  
  <div class="large-10 columns">
  <!-- Send count of events to js -->
    <div id="count" style="display:none;" data-count="<%=@sub_events.count%>"></div>
  <!-- List each subevent -->
    <% @sub_events.each_with_index do |sub_event, index| %>
      <div class="row">
        <div class="large-2 columns">
          <h5><%= sub_event.date.to_s(:long) %></h5>
          <h5><%= sub_event.start_time.to_s(:time) %> </h5>
        </div>
        <div class="large-4 columns subEventName">  
          <h4><%= link_to sub_event.title, main_event_sub_event_path(@main_event, sub_event) %></h4>
        </div>
        <div class="large-6 columns">
        
          <!-- if rsvps were sent, render response stats  -->
          <% if @main_event.rsvp_sent %>

            <!-- build chart for each sub_event -->
            <!-- <div id="response_chart_<%#=index%>" style="width:400px; height:40px; padding-top:10px;"></div> -->

            <%= content_tag :div, nil, class:"homeChart", id:"response_chart_"+index.to_s,
              data: {
                nil_count:@nil_counts[sub_event.id],
                true_count:@true_counts[sub_event.id],
                false_count:@false_counts[sub_event.id]
                } do %>

            <%end%>
          
          <%end%>
        </div>
        <hr/>
      </div>
    <% end %>
    </div>
  </div>
</div>


