<% if @attending.count > 0 %>
  <table class="large-4 columns">
    <thead>
      <tr>
        <th style="color: #13B265; text-align:center;">Confirmed Attending</th>
      </tr>
    </thead>
  <% sorted_guests(@attending).each_with_index do|guest, index| %>
    <tbody>
      <tr>
        <td>
          <a href="#" data-reveal-id="attendingGuestModal<%=index%>"><h5><strong><%= guest.last %>, <%= guest.first %></strong></h5></a>
        </td>
      </tr>
          <div id="attendingGuestModal<%=index%>" class="reveal-modal" data-reveal>
        
         <div class="row">
          <div class="large-4 columns">
            <%= guest.last %>, <%= guest.first %> 
          </div>
          <div class="large-4 columns">
           <%= button_to "Remove from GuestList", main_event_sub_event_assignment_path(@main_event, @sub_event, guest), class: "button",  :method => "delete" %>
          </div>
          <div class="large-4 columns">
            <%= button_to "Full Guest Details", main_event_guest_path(@main_event, guest), class: "button", :method => "get" %>
          </div>
           <a class="close-reveal-modal">x</a>
         </div>
        </div>  
    </tbody>
  <%end%> 
<%end%>
</table> 

<% if @declined.count > 0 %>
  <table class="large-4 columns">
    <thead>
      <tr>
        <th style="color: #B22613; text-align:center;">Regretfully Declined</th>
      </tr>
    </thead>
  <% sorted_guests(@declined).each_with_index do|guest, index| %>
    <tbody>
      <tr>
        <td>
          <a href="#" data-reveal-id="declinedGuestModal<%=index%>"> <h5><strong><%= guest.last %>, <%= guest.first %></strong></h5></a>
        </td>
      </tr>
    <div id="declinedGuestModal<%=index%>" class="reveal-modal" data-reveal>
     <div class="row">
      <div class="large-4 columns">
        <%= guest.last %>, <%= guest.first %> 
      </div>
      <div class="large-4 columns">
       <%= button_to "Remove from GuestList", main_event_sub_event_assignment_path(@main_event, @sub_event, guest), class: "button",  :method => "delete" %>
      </div>
      <div class="large-4 columns">
        <%= button_to "Full Guest Details", main_event_guest_path(@main_event, guest), class: "button", :method => "get" %>
      </div>
       <a class="close-reveal-modal">x</a>
     </div>
    </div>  
  </tbody>
  <%end%> 
<%end%>
</table>

<% if @no_response.count > 0 %>
  <table class="large-4 columns">
    <thead>
      <tr>
        <th style="color: #8D8DAD; text-align:center;">Unconfirmed</th>
      </tr>
    </thead>
  <% sorted_guests(@no_response).each_with_index do|guest, index| %>
    <tbody>
      <tr>
        <td>
          <a href="#" data-reveal-id="unconfirmedGuestModal<%=index%>"> <h5><strong><%= guest.last %>, <%= guest.first %></strong></h5></a>
        </td>
      </tr>
    <div id="unconfirmedGuestModal<%=index%>" class="reveal-modal" data-reveal>
     <div class="row">
      <div class="large-4 columns">
        <%= guest.last %>, <%= guest.first %> 
      </div>
      <div class="large-4 columns">
       <%= button_to "Remove from GuestList", main_event_sub_event_assignment_path(@main_event, @sub_event,guest), class: "button",  :method => "delete" %>
      </div>
      <div class="large-4 columns">
        <%= button_to "Full Guest Details", main_event_guest_path(@main_event, guest), class: "button", :method => "get" %>
      </div>
       <a class="close-reveal-modal">x</a>
     </div>
    </div>  
   </tbody>
  <%end%> 
<%end%>
</table>




