<div class="row">
  <div class="large-10 columns">
    <h1><%= @sub_event.title %></h1>
    <h4><%= @sub_event.description %></h4>
    <h4><%= @sub_event.date.to_s(:long) %></h4>
    <h4>From <%= @sub_event.start_time.to_s(:time) %> to <%= @sub_event.end_time.to_s(:time) %></h4>
  </div>
  <div class="large-2 columns"><%= button_to "Edit Event", edit_main_event_sub_event_path(@main_event.first, @sub_event), method: "get"%>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <h3><strong>Guests for this Event</strong></h3>
  </div>
  <div class="large-2 columns">  
    <a href="#" class= "button" data-reveal-id="myModal">Register Guests</a>
      <div id="myModal" class="reveal-modal" data-reveal>
        <%= form_for [@main_event.first, @sub_event, @assignment] do |f| %>
          <%= fields_for(@assignment) do |assign| %>
            <%= collection_select(:assignment, :guest_id, @guests, :id, :first, {}, {multiple: true, style:'height:100px'}) %>
          <% end %>
          <%= f.hidden_field :registration_type, value: "from_sub_event_show" %>
          <%= f.submit "Register Guests" %>
        <% end %>
        <a class="close-reveal-modal">&#215;</a>
      </div>
  </div>
  <div class="large-4 columns"></div>
  <div class="large-2 columns"></div>
</div>

<div class="row">
  <% @sub_event.guests.each_with_index do |guest, index| %>
    <a href="#" data-reveal-id="guestModal<%=index%>"> <h5><strong><%= guest.first %> <%= guest.last %></strong> - <%= guest.email %><%= guest.assignment.where(sub_event_id: @sub_event).first.rsvp %></h5></a>
   
    <div id="guestModal<%=index%>" class="reveal-modal" data-reveal>
     <div class="row">
      <div class="large-4 columns">
       <%= guest.first %> <%= guest.last %> 
      </div>
      <div class="large-4 columns">
       <%= button_to "Remove from GuestList", main_event_sub_event_assignment_path(@main_event, @sub_event, guest), :method => "delete" %>
      </div>
      <div class="large-4 columns">
        <%= button_to "Full Guest Details", main_event_guest_path(@main_event.first , guest), :method => "get" %>
       <a class="close-reveal-modal">x</a>
      </div>

     </div>
    </div>  

     <hr/>   
  <%end%>
</div>
  