<div class="row">
  <div class="large-1 columns"><%= button_to "Edit This Guest", edit_main_event_guest_path, :method => "get" %></div>
  <div class="large-10 columns"><%= button_to "Delete This Guest", main_event_guest_path, :method => :delete, confirm: "Are You Sure? " %>
  </div>
</div>

<div class="row">
  <div> <h1> Guest Info</h1>
  <h1> <%=@guest.first%> <%=@guest.last%></h1>
  <h5> <%=@guest.email%></h5>
</div>




<div class="row">
  <% @sub_events.each_with_index do |subEvent, index| %>
    <a href="#" data-reveal-id="subEventModal<%=index%>"><h5><%=subEvent.title %></h5></a>
    <div id="subEventModal<%=index%>" class="reveal-modal" data-reveal>
      <div><%= subEvent.title %></div>
      <div><%= button_to "Add SubEvent" %></div>
  <% end %>
</div>
