<link rel="stylesheet" href="/stylesheets/home.css.scss">

<div class="row">
  <div class="large-12 columns">
    <ul class="right button-group">
      <li><a href="users/new" class="button">Sign Up</a></li>
      <li><a href="#" class="button" data-reveal-id="myModal">Log In</a></li>
          <div id="myModal" class="reveal-modal tiny" data-reveal>
            <%= form_tag sessions_path do %>
              <div>
                <%= label_tag "email" %><br/>
                <%= text_field_tag "email" %>
              </div>
              <div>
                <%= label_tag :password %><br/>
                <%= password_field_tag :password %>
              </div>
              <div><%= submit_tag "Log In" %></div>
            <% end %>
            <a class="close-reveal-modal">&#215;</a>
          </div>
        </div>
    </ul>
  </div>
</div>

<div class="landing">
  <div id = "landing-photo"><img src="/images/london-event-photographer-01.jpg">
    <p id = "text-1">Black Tie</p>
      <br>
    <p id ="text-2">RSVP Management</p>
      <br>
    <p id ="text-3">Made Easy.</p>
  </div>
</div>

 <div class="row">
    <div class="large-3 columns">
      <i class="fa fa-umbrella fa-5x"></i>
      <h4>Host Multiple Events Under One Umbrella</h4>
        <p>Because we all know it's not just about the big day. Black Tie provides an easy to use interface to create and manage the details of every meeting, dinner or cocktail hour related to your event.</p>
    </div>

    <div class="large-3 columns">
      <i class="fa fa-user fa-5x"></i>
      <h4>Assign Guests to Multiple Events</h4>
        <p>Once you've created your guest list, simply assign desired guests to each event. Concerned that Auntie Linda will take offense to not being invited to that celebration dinner? Worry not, guests can only see events they've been invited to, so she'll be none the wiser!</p>
    </div>    
    
    <div class="large-3 columns">
      <i class="fa fa-envelope-square fa-5x"></i>
      <h4>We'll Notify Your Guests Via E-mail</h4>
        <p>After all the event details are to your liking, it's easy as clicking, "Send". Your guests will be directed to an RSVP page where they'll select all events they're able to attend.</p>
    </div>
    
    <div class="large-3 columns">
      <i class="fa fa-clock-o fa-5x"></i>
      <h4>See RSVP Responses in Real Time</h4>
        <p>Black Tie gives you all the pertinent details of your guest responses with helpful visualizations so you can understand who is and isn't attending, as well as who needs to be prodded for response.</p>
    </div>
  </div>

<footer>
  <!-- This will display "Logged Out" notice after Log Out -->
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value) %>
  <% end %>
</footer>