<link rel="stylesheet" href="/stylesheets/home.css.scss">

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1 id= "logo-font"><%= link_to "Black Tie", root_path %></a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#" class="button">About Us</a></li>
      <li><a href="users/new" class="button">Sign Up</a></li>
      <li><a href="#" class="button" data-reveal-id="myModal">Log In</a></li>
        <div id="myModal" class="reveal-modal tiny" data-reveal>
          <%= form_tag sessions_path do %>
            <div>
              <%= label_tag "email" %><br/>
              <%= text_field_tag "email" %>
            </div>
            <div>
              <%= label_tag :password %><br/>
              <%= password_field_tag :password %>
            </div>
            <div><%= submit_tag "Log In" %></div>
          <% end %>
          <a class="close-reveal-modal">&#215;</a>
        </div>
    </ul>
  </section>
</nav>

<div class="slider autoplay">
    <div id = "slider-photo-1"><img src="/images/london-event-photographer-01.jpg">
      <p id ="text-1">
        Black Tie
      </p>
      <br>
      <p id ="text-2">
        RSVP Management.
      </p>
      <br>
      <p id ="text-3">
      Made Easy.
      </p>
    </div>
    <div id = "slider-photo-2"><img src="/images/tumblr_mx3tpto69r1st5lhmo1_1280.jpg">
      <p id ="text-4">
        Assign Guests to Multiple Events
        <br>
        We'll Notify your Guests by Email
        <br>
        See RSVP Confirmations in Real Time 
      </p>
    </div>
    <div id = "slider-photo-3"><img src="/images/tumblr_m0y71uyhoj1rrknxyo1_1280.jpg">
      <p id ="text-5">
        Let us do your dirty work, so you can focus on what really matters.
      </p>
    </div>
  </div>
</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright BBK Final Projects. 2014.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
  </div> 

  <!-- This will display "Logged Out" notice after Log Out -->
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value) %>
  <% end %>

</footer>

