<!-- This will display "Logged Out" notice after Log Out -->
<% flash.each do |key, value| %>
  <%= content_tag(:div, value) %>
<% end %>

<div class="row">
  <div class="large-4 columns">
    <h1><img src="http://placehold.it/400x100&text=Logo Goes Here"/></h1>
  </div>
  <div class="large-8 columns">
    <ul class="right button-group">
      <li><a href="#" class="button">About Us</a></li>
      <li><a href="#" class="button">Sign Up</a></li>
      <li><a href="#" class="button" data-reveal-id="myModal">Log In</a></li>
        <div id="myModal" class="reveal-modal" data-reveal>
          <%= form_tag sessions_path do %>
            <div>
              <%= label_tag "email" %><br/>
              <%= text_field_tag "email" %>
            </div>
            <div>
              <%= label_tag :password %><br/>
              <%= password_field_tag :password %>
            </div>
            <div><%= submit_tag "Log In" %></div>
          <% end %>
          <a class="close-reveal-modal">&#215;</a>
        </div>
    </ul>
  </div>
</div>
  
<div class="row">
  <div class="large-12 columns">
    <div class="slider single-item">
      <div><img src="http://placehold.it/1000x400&text=[ img 1 ]"/></div>
      <div><img src="http://placehold.it/1000x400&text=[ img 2 ]"/></div>
      <div><img src="http://placehold.it/1000x400&text=[ img 3 ]"/></div>
    </div>
  </div>
</div>
 
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h4>Get in touch!</h4>    
      <div class="row">
        <div class="large-9 columns">
          <p>We'd love to hear from you.</p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
 
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright BBK Final Projects. 2014.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>


