<input class="contact-search-input" type="search" placeholder="Search contacts" />
<%= form_for @main_event do |f| %>
  Guests:
  <ul>
    <%= f.fields_for :guests do |guests_form| %>
      <li class="searchable-contact">
        <%= guests_form.label :email %>
        <%= guests_form.text_field :email %>
 
        <%= guests_form.label :first %>
        <%= guests_form.text_field :first %>

        <%= guests_form.label :last %>
        <%= guests_form.text_field :last %>

      </li>
    <% end %>
  </ul>
<% end %>

<div>
<form class="dummy-form">
  <% @contacts.each_with_index do |contact, index| %>
    <% unique_id = (Time.now.to_f * 1000).to_i %>
    <li class="field-to-add searchable-contact">
        
      <label for="main_event_guests_attributes_<%=unique_id%>_email">Email</label><input id="main_event_guests_attributes_<%=unique_id%>_email" name="main_event[guests_attributes][<%=unique_id%>][email]" type="text" value="<%=contact[:email]%>">

      <label for="main_event_guests_attributes_<%=unique_id%>_first">First</label>
      <input id="main_event_guests_attributes_<%=unique_id%>_first" name="main_event[guests_attributes][<%=unique_id%>][first]" type="text" value="<%= contact[:first_name] %>">

      <label for="main_event_guests_attributes_<%=unique_id%>_last">Last</label>
      <input id="main_event_guests_attributes_<%=unique_id%>_last" name="main_event[guests_attributes][<%=unique_id%>][last]" type="text" value="<%= contact[:last_name] %>">
    </li>
<!--   <p>
    First name: <%= contact[:first_name] %>
    Last name: <%= contact[:last_name] %>
  </p> -->
  <% end %>
  </form>
</div>
