<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "BlackTie" %></title>

    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.3.6/slick.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

     <link href='http://fonts.googleapis.com/css?family=League+Script|Parisienne|Molle:400italic|Marck+Script|Engagement|Satisfy|Rochester|Sacramento|Droid+Sans|Proxima+Nova_Light|Ubuntu|Raleway|Lora|Open Sans' rel='stylesheet' type='text/css'>

     

    <%= csrf_meta_tags %> 

    <%= render 'layouts/header' unless current_page?(controller: 'home', action: 'index') %>


    <% if current_page?(controller: 'home', action: 'index') %>
      <%= javascript_include_tag "homepage" %>
      <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.3.6/slick.min.js"></script>
    <% else %>
      <%= javascript_include_tag "application" %>
      <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <% end %>

  </head>

  <body>

    <%= favicon_link_tag 'favicon.ico' %>

    <%= yield %>
    
    <%= render 'layouts/footer' %>


  </body>
</html>